
/* Medium Devices, Desktops */
.visible-xxs {
    display: none !important;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {

    .section {
        &-main {
            &-content {
                background-position: calc(100% + 200px) top;
            }
        }
    }
}

@media only screen and (max-width : 991px) {	

    .hamburger {
        display: block;
    }    

    .header {
        .grow {
            display: block;
        }

        &-slogan {
            display: none;
        }        
    }

    .footer {
        padding: 20px 0;
        &-content {
            flex-direction: column;
        }

        &-list {
            li {
                margin-bottom: 0;
            }
            margin-bottom: 10px;
        }

        .logo {
            margin-left: -20px;
        }

        .logo, .button {
            margin-bottom: 20px;
        }

        &-right {
            flex-direction: column;
        }

        &-company {
            margin-left: 0;
            img {
                margin: 0;
            }
        }
    }

	.main-menu {
        display: none;
        background-color: #fff;
        position: absolute;
        margin: 0;
		top: 100%;
		left: 0;
		right: 0;
		text-align: left;
		margin-left: 0;
		z-index: 98;

		ul {
			display: block;
			height: auto;
			padding: 0;

			li {
                margin: 0 0 5px;

                &:last-child {
                    margin: 0;
                }
			}
		}
    }

    .section {
        &-main {
            &-content {
                background-position: calc(100% + 430px) top;
            }
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

    .header {
        &-left {
            display: none;
        }
    }    
    
    .section {
        &-title {
            font-size: 35px;
        }

        &-main {
            padding-top: 160px;

            &-title {
                line-height: 1;
            }

            &-content {
                flex-direction: column;
                align-items: center;
                background-image: none;
            }
        }    
        
        &-thanks {
            flex-grow: 0;
            .container {
                width: 100%;
            }
        }
    }

    .more {
        padding-right: 30px;
        &-content {
            flex-direction: column;
            align-items: center;
        }

        &-right {
            margin: 20px 0 0 0;
        }
    }

}



/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {
    .form {
        form {
            width: 100%;
        }
    }

    .button {
        width: 100%;
        min-width: auto;

        &.button-large {
            font-size: 16px;
        }
    }

	.col-xxs-12 {
		width: 100%;
	}

	.col-xxs-offset-0 {
		margin-left: 0;
    }
    
    .visible-xxs {
        display: block !important;
    }

	.hidden-xxs {
		display: none !important;
    }

    .section {
        &-title {
            margin-bottom: 20px;
        }
        &-main {
            &-title {
                font-size: 24px;
            }      
            
            &-content {
                padding: 0;
            }
        }

        
    }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.main-menu {
		.container {
			width: auto;
			padding: 0;
		}
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}