
/* Medium Devices, Desktops */
.visible-xxs {
    display: none !important;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {

    .section {
        &-main {
            &-content {
                background-position: calc(100% + 200px) top;
            }
        }

      &-pozvolit {
         &-rose {
            top: -120px;
            left: -350px;
         }
      }
      

        &-services {
           .service {
              width: 23%;
           }
        }

        &-payments {
            .payment {
               flex-wrap: wrap;
               justify-content: center;
               .payment-img {
                  margin: 0 15px 15px;
               }
            }
         }

        &-contact {
           &-rose {
              right: 0;
           }
        }
    }
}

@media only screen and (max-width : 991px) {	

    .hamburger {
        display: block;
    }    

    .header {
        .grow {
            display: block;
        }

        &-slogan {
            display: none;
        }        
    }

    .footer {
        padding: 20px 0;
        &-content {
            flex-direction: column;
        }

        &-list {
            li {
                margin-bottom: 0;
            }
            margin-bottom: 10px;
        }

        .logo {
            margin-left: -20px;
        }

        .logo, .button {
            margin-bottom: 20px;
        }

        &-right {
            flex-direction: column;
        }

        &-company {
            margin-left: 0;
            img {
                margin: 0;
            }
        }
    }

	.main-menu {
        display: none;
        background-color: #fff;
        position: absolute;
        margin: 0;
		top: 100%;
		left: 0;
		right: 0;
		text-align: left;
		margin-left: 0;
		z-index: 98;

		ul {
			display: block;
			height: auto;
			padding: 0;

			li {
                margin: 0 0 5px;

                &:last-child {
                    margin: 0;
                }
			}
		}
    }

    .section {
        &-main {
            &-content {
                background-position: calc(100% + 430px) top;
            }
        }

        &-pozvolit {
         &-rose {
            display: none;
         }
      }

      &-contact {
         &-rose {
            display: none;
         }
         &-content {
            display: block;
            .map {
               margin: 0 auto;
            }
         }
         &-form {
            form {
               flex-wrap: wrap;
               align-items: flex-start;
               .input-div, .button {
                  width: 48%;
                  margin-bottom: 15px;
               }
            }
         }
         
      }

        &-services {
           &-content {
              flex-wrap: wrap;
              .service {
                 width: 50%;
                 &-title {
                    flex-grow: 1;
                 }
                  img {
                     width: 100%;
                     border-top-left-radius: 165px;
                     border-top-right-radius: 165px;
                 }
              }
           }
        }
           
      &-praice {
         &-content {
            display: block;
         }
         .praice-content {
            width: 100%;
            margin-bottom: 30px;
            &-text {
               .text {
                  .price-text {
                     width: 60%;
                  }
                  .price {
                     margin-right: 20px;
                  }
               }
            }
         }
         .form {
            width: 70%;
            margin: 0 auto;
         }
      }
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

    .header {
        &-left {
            display: none;
        }
    }   
    
    .border {
       &::before {
          display: none;
       }
    }

   .owl-carousel {
      .owl {
         &-dots {
            margin-top: 20px;
            position: static;
            min-height: auto;
            flex-direction: row;
            justify-content: center;

            &:before {
               display: none;
            }
         }

         &-dot {
            margin: 0 2px;
         }
      }
   } 
    
   .section {
      &-main {
         padding-top: 160px;

         &-title {
               line-height: 1;
         }

         &-content {
               flex-direction: column;
               align-items: center;
               background-image: none;
         }

         .form {
            margin-top: 0;
         }
      }

      &-results {
         .result {
            padding: 0;
            max-width: 286px;

            &-text {
               padding: 15px 0 0 0;
            }
         }
      }
        
      &-services {
         .service {
            width: 48%;
         }

         &-form-text {
            text-align: center;
         }

         form {
            display: block; 
            
            .input-div, .button {
               width: 50%;
               margin: 0 auto 15px;
            }
         }
      }

      &-contact {
         .map {
            width: 100%;
         }
         .contact {
            margin-left: 0;
         }
      }

      &-thanks {
         flex-grow: 0;
         .container {
             width: 100%;
         }
      }    
   }

   .more {
      padding-right: 30px;
      &-content {
         flex-direction: column;
         align-items: center;
      }

      &-right {
         margin: 20px 0 0 0;
      }
   }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {
    .form {
        form {
            width: 100%;
        }
    }

    .button {
        width: 100%;
        min-width: auto;

        &.button-large {
            font-size: 16px;
        }
    }

	.col-xxs-12 {
		width: 100%;
	}

	.col-xxs-offset-0 {
		margin-left: 0;
    }
    
    .visible-xxs {
        display: block !important;
    }

	.hidden-xxs {
		display: none !important;
   }

   .owl-carousel {
      padding: 0 20px 0 0;
   }

   .logo {
      width: 100px;
   }

   .section {
      &-title {
         margin-bottom: 20px;
      }
      &-main {
         padding-top: 90px;
         &-title {
               font-size: 24px;
         }      
         
         &-content {
               padding: 0;
         }
      }
      &-services {
         &-content {
            .service {
               width: 100%;
            }
         }
         form {
            .input-div, .button {
               width: 100%;
            }
         }
      }
      &-praice {
         .form {
            width: 100%;
         }
      } 

      &-contact {
         &-form {
            display: block;
         }
         form {
            .input-div, .button {
               width: 100%;
            }
         }
      }
    }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.main-menu {
		.container {
			width: auto;
			padding: 0;
		}
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}